//seccion texto
.text--textorelleno {
   line-height: 1.6rem; 
   font-family: $roboto; 
   font-size: $medium;   
   font-weight: $light;

}


//Secccion Page
.page {
height: 330px;
width: 100%;
border-top: 1px solid $color-lightgray;
padding: 5rem 0rem;

}

.page--img {
    height: 140px;
    width: 140px;
    vertical-align: top;
}

.page--img--texto {
    text-decoration: none;
    vertical-align: top;
    
}

.page--img--bloque {
    margin-left: 3rem;
}

//Secccion Pagination

.pagination--container {
    text-align: center;
    background-color: $color-platinum;
    height: 115px;
}

.pagination--container--item{
    text-align: center;
}

.pagination {
    width: 12rem;
}